body {
  width: 99vw;
  margin: 0;
  font-family: "Lato", sans-serif;
  color: rgb(24, 9, 0);
}

header {
  width: 100%;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

header > hr {
  height: 1px;
  background-color: gold;
  border: none;
  margin-bottom: 0;
}

header > h3 {
  text-align: center;
  margin: 0;
  padding: 10px;
  color: rgb(0, 128, 128);
  background-color: #fff4d6;
}

main {
  width: 50%;
  margin: 0 25%;
  text-align: center;
}

main > h1 {
  font-size: 60px;
  text-align: center;
  font-weight: 900;
}

.video_container > h3 {
  font-size: 1.3em;
  text-align: left;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 1em;
}

.video_container > p {
  color: grey;
  font-weight: 500;
  font-size: 1.3em;
}

.feat_container {
  border-left: 1px solid;
  border-color: gold;
  padding-left: 2px;
}

.feat_container > h4 {
  color: rgb(194, 52, 0);
  font-size: 1.3em;
  font-weight: 900;
  text-align: left;
  margin-bottom: 0;
}

.feat_container > p {
  font-size: 1.3em;
  margin-top: 0;
  text-align: left;
}

a {
  color: rgb(0, 128, 128);
}

.ingredients_container {
  text-align: left;
}

.ingredients_container > h2 {
  font-size: 2.3em;
  margin-top: 1.7em;
  margin-bottom: 0.6em;
  font-weight: 700;
}

div > hr {
  height: 1px;
  border: none;
  background-color: rgba(0, 179, 179, 0.712);
}

.list > h3 {
  font-weight: 700;
  font-size: 1.3em;
}

.list > ul {
  font-size: 1.1em;
}

#topping_title {
  margin-top: 35px;
}

.container {
  text-align: left;
}

.container > h2 {
  font-size: 2.3em;
  margin-top: 1.7em;
  margin-bottom: 0.6em;
  font-weight: 700;
}

ol > li {
  font-weight: 700;
  font-size: 1.3em;
}

ol > p {
  font-size: 1.1em;
}

footer {
  width: 52%;
  margin-left: 24%;
  margin-right: 24%;
  margin-top: 30px;
}
